@mixin btn($bg-color, $text-color) {
  background: $bg-color;
  font-size: 0.875em;
  color: $text-color;
  text-decoration: none;
  box-shadow: 0 3px $base-light-gray;
  display: inline-block;
  padding: 1.0725em 4em;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0 1em;
  @include transition(background, 0.25s, ease);
  border-radius: 2px;
  letter-spacing: 2px;
  font-family: 'aileron';
  outline: none;

  &:hover {
    color: $text-color;
    background: lighten($bg-color, 5%);
  }

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
    @include opacity(0.65);
  }
}

.btn-group {
  vertical-align: top;
  .btn {
    margin-left: 1em;
    overflow: hidden;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }

  }

  &.btn-group--vertical {
    .btn {
      margin-left: 0;
      margin-bottom: 0;
      margin-top: 1.5em;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .candidate_buttons & {
    .btn {
      margin-left: 0;
      margin-bottom: 0;
      margin-top: 1em;
      letter-spacing: 1px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.btn {
  @include btn($base-dark-green, $base-white);
  .mask & {
    background: $base-white;
    color: $base-dark-green;
    font-size: 1em;
    padding: 0.875em 2.5em;
    &:hover {
      background: darken($base-white, 10%);
    }
  }

}

.btn--primary {
  background: $base-lightest-gray;
  color: $base-dark-green;
  &:hover {
    background: darken($base-white, 10%);
    color: $base-dark-green;
  }
}

.btn--ghost {
  background: $base-dark-green;
  border: 1px solid $base-white;
  .panel & {
    background: $base-dark-green;
    color: $base-white;
    box-shadow: none;
    min-width: 7.5em;
    font-size: 1em;
    padding: 0.8125em;
    &:hover {
      background: lighten($base-dark-green, 5%);
    }
  }
}

.btn--icon {
  padding: 1.0725em 0.7em 1.0725em 2.7em;
  letter-spacing: 0.15em;

  &[class*="icon-"] {
    &:before {
      float: right;
      font-size: 2em;
      margin: -.1em 0 -.4em 0.3em;
    }

    &.icon-pause:before {
      font-size: 26px !important;
      margin-right: 0.3em !important;
    }
  }

  &.btn--icon-text {
    box-shadow: none;
    color: $base-green;
    background: none;
    margin: 0;

    &:hover {
      color: $base-white;
      background: $base-green;
    }
  }
  &.icon-checkmark {
    letter-spacing: normal;
    &:before {
      position: absolute;
      right: 1em;

      margin: -.2em 0 -.4em 0.3em;
    }
  }
}

.btn--icon--single {
  padding: 0.75em 0.5em;

  &[class*="icon-"] {
    &:before {
      font-size: 2em;
    }
  }
}

.btn--large {
  min-width: 30em;
}

.btn--small {
  padding: 1.0725em 2em 1.0725em 2em;
  min-width: auto;
}

.btn--fullwidth {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn--action {
  background: $base-green;
  color: $base-white;
}

.btn--nospace {
  margin: 0;
}


.btn--danger {
  background: $base-red;
  color: $base-white;
  padding: 1.0725em 1.5em;

  &:hover{
    background: lighten($base-red, 5%);
  }
}

.btn--text,
a.btn--text {
  font-weight: 100;
  background: none;
  color: $base-red;
  box-shadow: none;
  padding: 1.0725em .5em;
  letter-spacing: 1.79px;
  &:hover{
    background: none;
    color: lighten($base-red, 10%);
  }
}

.btn--cancel {
  background: none;
  color: $base-red;
  box-shadow: none;
  text-decoration: underline;
  &:hover{
    background: none;
    text-decoration: none;
    color: lighten($base-red, 10%);
  }

  &[class*="icon-"] {
    text-decoration: none;
    &:before {
      float: right;
      display: block;
      margin: -.2em 0 -.4em 0.3em;
    }
  }
}

.btn--close {
  padding: 0;
  width: 50px;
  height: 50px;
  box-shadow: none;
  border-radius: 50% 50%;
  font-size: 2em;
  line-height: 52px;
  margin: 0;
}