.nav {
  .nav_item {
    display: inline-block;
    a {
      font-size: 0.875em;
      color: $base-white;
      text-decoration: none;
      padding: 1em 0.5em;
      @include transition(all 0.3s ease);

      &:hover {
        color: $base-white;
      }
    }
  }

  &--disabled {
    .nav_item {
      pointer-events:none;
      opacity: 0.8;
    }
  }

  &.main--nav {
    height: 88px;
    .nav_item {
      position: relative;
      .nav_item_inner {
        border: 1px solid $base-white;
        border-radius: 3px 3px 0 0 ;
        border-bottom: 0;
        background: none;
        @include transition(all 0.3s ease);
      }

      &.nav_item--active,
      &:hover {
        .nav_item_inner {
          border-color: $base-green;
          background: $base-green;
        }
      }

      a {
        padding: 34px 0.5em;
        letter-spacing: 0.77px;
      }
    }
  }

  &.nav-social {
    padding-top: 4px;
    .nav_item {
      display: inline-block;
      margin: 0 0.5em;
      font-size: 0.7em;

      a {
        display: block;
        color: $base-white;

        &:hover {
          @include opacity(0.7);
        }
      }
    }
  }

  &.nav--subnav {
    &.main--subnav {
      .nav_item {
        width: 23.5%;
        margin-left: 2%;

        &:first-child {
          margin-left: 0;
          text-align: left;
        }
      }
    }
    .nav_item {
      width: 32%;
      margin-left: 2%;
      text-align: center;
      
      &:first-child {
        margin-left: 0;
        text-align: left;
      }

      &:nth-child(4) {
        text-align: right;
      }

      a {
        border-radius: 5px;
        display: inline-block;
        background: none;
        font-size: 1em;
        font-weight: 100;
        padding: 0.55em 0.835em 0.55em 1.1125em;
        vertical-align: middle;
        letter-spacing: 0.05em;

        &:hover {
          background: $base-dark-gray;
        }

        span {
          display: inline-block;
          width: 2.5em;
          padding: 0.3em 0.1em 0.2em;
          background: $base-white;
          text-align: center;
          border-radius: 5px;
          margin-left: 1.55em;
          color: $base-dark-gray;
        }
      }

      &.nav_item--active {
        a {
          background: $base-dark-gray;
        }
      }
    }
  }

  &.nav--steps {

    ul {
      li {
        display: inline-block;
        margin: 0 0 0 2em;
        text-align: center;
        width: 75px;
        
        &:first-child {
          margin-left: 0;
        }

        p {
          text-transform: uppercase;
          font-size: 0.75em;
        }

        .step {
          background: $base-gray;
          color: $base-gray;
          display: inline-block;
          border-radius: 50% 50%;
          text-align: center;
          font-size: 1em;
          font-weight: 400;
          margin-bottom: 0.3em;

          span{
            display: block;
            background: #f2f2f2;
            border-radius: 50% 50%;
            margin: 5px;
            padding: 6px;
            width: 2.197em;
          }
        }

        &.nav_item--active {
          .step {
            color: $base-green;
            background: $base-dark-green;
            @include background-gradient($green-gradient-2, $green-gradient-1);
          }
        }
      }
    }

  }

  &.nav--vertical {
    .nav_item {
      display: block;
      margin-top: 4px;
      
      &:first-child {
        margin-top: 0;
      }

      a {
        color: $base-dark-gray;
        background: $base-white;
        padding: 1em 1.5em;
        display: block;
      }

      &:hover,
      &.nav_item--active {
        a {
          color: $base-white;
          background: $base-green;
        }
      }
    }
  }
}